.blogs-wrapper {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.blogs {
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}

/* <<<<<<< HEAD
.blog-title {
    margin-top: 10%;
=======
.favoriteButton {
    padding: 5px;
    float: left;
}

.viewBlogButton {
    padding: 5px;
    float: right;
>>>>>>> 9b820a7f357ee04049abe641b95775c81f9acb03
} */