.nav-wrapper {
    outline: 2px solid black;
    width: 50%;
    margin: auto;
    padding: 5px 0px 10px 0px;
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.nav {
    display: inline-block;
    padding: 3px 8px;
    margin-right: 8px;
    background-color: white;
    color: black;
    border: 1px solid transparent;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.nav:hover {
    background-color: lightgray;
    color: white;
    text-decoration: none;
}